[2020-08-14 18:37] feliperochadev opened #3 "how to convert a POJO to JSON API string using ObjectMapper.writeValueAsString"
Hi, first of all, thanks for the project it works quite well.

I have some integration tests using `MockMvc` like the following:

[code]

it basically checks if the body matches to the expected POJO String using `ObjectMapper.writeValueAsString`, the problem is, since the JSON API applies the format just using `Accept application/vnd.api+json` the header in the MockMvc request, it didn't match any

[2020-08-14 19:48] toedter commented on #3
You could try configuring the ObjectMapper used in `getExpectedBorrowerCompanyDetails ` to use JSON:API serialization, like

[code]

Please let me know if this helps. In the meantime, I will try this out in the example.

One small thing: if a property is named `id`, like in `BorrowerCompanyDTO `, this is automatically interpreted as JSON:API id and you would not need the `@JsonApiId` annotation.

[2020-08-14 20:35] toedter commented on #3
Another thought: If you would use exactly the same JSON serializer for both creating the test result as well as creating what you compare the result with, then a bug in the serializer would occur on both sides and the test would be green even if the result does not look like what you would expect. So I think testing the result against a neutral expected result would be better.

[2020-08-14 20:38] #3 closed

[2020-08-18 07:57] toedter opened #4 "Enhance JsonApiBuilder to add relationships with links only but no data"

[2020-08-31 19:38] MieskeB opened #5 "Content instead of data"
# The problem
I am following the tutorial on your [Github pages](https://toedter.github.io/spring-hateoas-jsonapi/#_jsonapi_builder), but I seem to have some problems with it. After some trying I got the following code returned:
[code]

This returns the following:
[code]
# The question
The format should contain: `data`, `relations` and `includes`. Why aren't they returned? Is this a bug?

# Maven

[2020-08-31 20:12] toedter commented on #5
@MieskeB, thanks for reporting this.

The reason for this behavior is:
`@GetMapping(value = "", produces = "application/vnd.api-v1+json")`
=> The media type for JSON:API is not `application/vnd.api-v1+json` but `application/vnd.api+json`

Change it to
`@GetMapping(value = "", produces = "application/vnd.api+json")`
and the result should be rendered in JSON:API format.

If you want to support sever

[2020-08-31 20:26] toedter commented on #5
@MieskeB, I noticed two more things about your code, not related to the JSON:API rendering:

If a Java Object has an attribute named `id`, it would be interpreted as JSON:API id automatically, a prioritization related to the annotations you can find in the docs. In your case, you could just remove @JsonApiId from your DTOs and everything should work fine.

If you want to use a custom JSON:API type

[2020-09-02 05:59] #5 closed

[2020-09-03 14:08] marceloverdijk opened #6 "Support for @JsonApiType on class level"
Would it be possible to instead of:

[code]

also support:

[code]

[2020-09-03 14:43] marceloverdijk opened #7 "Support for JSON:API Data Fetching strategies"
This issue is more of a discussion to see what is possible with this lib and where it is heading to.

The JSON:API spec supports some interesting area's in regards to [Fetching Data](https://jsonapi.org/format/#fetching):

- [Sparse Fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets)
- [Inclusion of Related Resources](https://jsonapi.org/format/#fetching-includes)
- [Sorting](https:/

[2020-09-03 15:56] toedter commented on #7
Hi Marcel,

- Automated pagination (meta) is already supported (with` jsonApiModel().pagemeta()`) if the underlying HATEOAS model is a PagedModel, see the findAll method of https://github.com/toedter/spring-hateoas-jsonapi/blob/master/example/src/main/java/com/toedter/spring/hateoas/jsonapi/example/movie/MovieController.java
- Inclusion of related resources is already supporded by the builder, lik

[2020-09-03 16:08] toedter commented on #6
Hi Marcel,

thanks for the suggestion.
Yes, it would be possible. I'll think about it.
Today, you could already use the JsonApiConfiguration to specify a JSON:API type for any Java class, like

[code]

Then you would not need a type attribute in the MovieWithDirectors class at all.
I chose this solution over a class annotation because you could apply the configuration any class, including your own

[2020-09-03 16:12] marceloverdijk commented on #6
Personally I think in class level is more convenient as there the other annotations are defined as well and the properties itself.

[2020-09-03 16:17] toedter commented on #6
Good point. I'll see what I can do.

[2020-09-03 18:14] marceloverdijk commented on #7
Hi @toedter,

Yes I understand your points.
But what I meant is that like Spring Data's [Pageable](https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/domain/Pageable.html) (which can be an argument in the controller method), a specific JSON:API argument could be used.
This argument could be used to get all JSON:API spec related parameters like `getPageNumber()` (a

[2020-09-03 18:26] toedter commented on #6
I started this but experienced the following issue: A class-level annotation would need a mandatory value that must not have a default value (e.g. `@JsonApiType("movies")`) but the filed- and method-level annotation must NOT have a value, because the value of the attribute is taken at runtime. So a solution would be to create a new annotation with a different name, but I don't like this too much b

[2020-09-03 18:48] toedter commented on #7
Yes, I understand what you mean. Regarding pagination, the JSON:API spec is very flexible:

So, I am not sure if this flexibility can/should be mapped to a method argument, which implies a statically defined set of predefined attributes.

But for filtering, sorting, and sparse fieldsets this approach could make sense. Let me think about it.

[2020-09-03 20:27] marceloverdijk commented on #6
Maybe `""` as default value?

[2020-09-03 20:32] marceloverdijk commented on #7
You are right about the pagination (it has been some time I have looked at the specs in detail to be honest. Also the filtering is not set in stone by the spec.

But as you said for sparse fieldsets, includes and sort this could be very covenient.
For pagination I think it's ok to provide a getPageNumber and getPageSize as well as default imo as people are not required to use it.

[2020-09-09 08:17] jimirocks opened #8 "Please make the JsonApiMediaTypeConfiguration public"
Currently the configuration class has package private visibility, which makes impossible to use it without spring-boot or in more advanced configurations (for example WebMvcTest not loading all the spring-boot stuff or the complex application combining more configurations together).

Yes, I know I could write my own configuration, but why to copy `JsonApiMediaTypeConfiguration`  only for the reaso

[2020-09-09 08:53] toedter commented on #8
Hi Jiri, thanks for the request.

Actually I thought about making the `JsonApiMediaTypeConfiguration` public and we had a conversation about that in the Spring HATEOAS Gitter (see https://gitter.im/spring-projects/spring-hateoas)

The Spring HATEOAS team suggested to make it package-private, also the configurations of build-in media types are package-private. Since I want to be as close as possibl

[2020-09-10 07:04] jimirocks opened #9 "Consider to make the media-type configurable"
Hello, we would love to use this library but for some legal reasons, we would need to configure other media-type (something like `application/vnd.thecompany.api+json`).  Would you consider to add such option to `JsonApiConfiguration`?

If you agree, I am ready to create pull request.

[2020-09-10 15:47] gregturn commented on #8
@jimirocks Could you provide a use case where this becomes a problem?

[2020-09-10 18:58] jimirocks commented on #8
@gregturn First, I need to say that I really appreciate the library is written with "private first" principle in mind. It's without any doubt good principle. But at the same time I believ I have valid usecase for making that class public, so let me express it in more detail:

1. Imagine application not built with spring-boot -  the `spring.factories` with content below is not applied
[code]
Then t

[2020-09-10 19:40] gregturn commented on #8
I wouldn’t hitch things to Boot’s auto configuration property.

I’d either A) create an Enable annotation that imports the class and requires people to manually add it to the app context or B) use Spring HATEOAS’s org.springframework.hateoas.config.MediaTypeConfigurationProvider property to make it unconditional.

This is probably good stuff to add to the reference docs. And it doesn’t require mak

[2020-09-10 20:22] jimirocks commented on #8
That's how it is currently made in this library...

Either A or B or both sounds like an acceptable and meaningful solution.

[2020-09-11 12:44] ingogriebsch commented on #8
My two cents... :)

I will mark the configuration class as public in the first release of my Spring HATEOAS implementation (https://github.com/ingogriebsch/spring-hateoas-siren).

If someone is using the library in a Spring Boot environment they does not need to do anything but has otherwise the chance (and responsibility) to use the configuration class to initialize the library.

How the initiali

[2020-09-11 17:17] toedter commented on #8
Thanks for the discussion.
I guess I would go with Ingo's suggestion and make the configuration public for now.
I am currently on vacation and will probably not be able to make code changes in the next 2 weeks.

[2020-09-11 17:20] toedter commented on #9
Interesting suggestion, I will think about it when I am back from my vacation, at the end of September.

[2020-09-14 08:10] jimirocks commented on #9
@toedter Since I was already trying the way how to achieve that, I created pull request. Just let me know, if you prefer  to design it other way.

[2020-09-14 19:52] odrotbohm commented on #8
Just for reference: the reason the configurations for the media types provided by Spring HATEOAS out of the box being package private is to make the `@EnableHypermediaSupport` annotation the sole way to activate those. Thus, external media type implementation can and should rather make those configuration files public if they're interested in being usable outside a Spring Boot context. I've filed

[2020-09-15 09:06] jimirocks opened #12 "Consider extending JsonApiModelBuilder to build the collection model"
Currently JsonApiModelBuilder always creates instance of `JsonApiModel`  which is however not the `CollectionModel`. This effectively prevents usage in correct custom implementation of [RepresentationModelAssembler](https://docs.spring.io/spring-hateoas/docs/1.1.1.RELEASE/api/org/springframework/hateoas/server/RepresentationModelAssembler.html) - namely there is no way how to insert `included` int

[2020-09-18 08:31] peter-plochan opened #13 "Null data field in the serialized result"
I want to render/serialize the `meta` top-level element without any data, e.g. I want to show some index with links. For this, I build "meta-only" `JsonApiModel`:
[code]
And the serialized result looks like this:
[code]
Even it's not against JSON:API spec, I consider this `"data": null` element quite ugly. Is there any chance how to exclude this from the resulting document?

[2020-09-20 15:51] #6 closed

[2020-09-20 15:53] toedter commented on #6
I decided type safety is more important, so I introduced a new class level annotation like:

[code]

[2020-09-20 16:14] #8 closed

[2020-09-20 16:22] toedter commented on #9
Thanks for the pull request. Could you please explain what the legal reasons are to prevent you from using the original JSON:API media type? In the meantime, I will take a look at your pull request and check your suggestion with the authors of other media types.

[2020-09-20 16:33] toedter commented on #3
Now the class `JsonApiMediaTypeConfiguration` is public and you can easily create an `ObjectMapper ` that serializes to JSON:API.

[2020-09-20 16:46] toedter commented on #13
Thanks, Peter. This makes sense.

But I also support the option data being **always** rendered as an array, returning an empty array, like:

[code]

I will think about it, probably a good balance would be to erase `"data" : null` if links or meta is present, but keep `"data" : []` if the option to always render data as array was chosen.

[2020-09-20 16:54] toedter commented on #12
This is true, but if you use the JSON:API model builder, you would probably like to use JSON:API specific features like relationships and included. You could then easily create your own ModelAssembler that provides a method `toRepresentationModel(Iterable<? extends T> entities)` that returns a RepresentetionModel<?>. In this method, you could use the builder.

[2020-09-20 16:54] #12 closed

[2020-09-21 09:04] jimirocks commented on #9
@toedter Basically the company wants to publish the API with it's own vendor type. Cause of:
1. The several years of API's evolution taught us the using the vendor type is more flexible in case of changing the underlying technology. While the API should remain the same for public the backend could change.
2. Publishing API with some world-wide but specific known media type (like `vnd.api+json`) le

[2020-09-24 07:55] jimirocks commented on #9
@toedter Have you had time yet to consider the reasons and review the code? Should I add/change something?

[2020-09-24 09:50] toedter commented on #9
Thanks, I understand the reasons. I have made the class `JsonApiMediaTypeConfiguration` public (it's in the current snapshot). Would it solve your problem if you derive your own MediaTypeConfiguration from it and just override `getMediaTypes()`?

[2020-09-25 13:22] jimirocks commented on #9
works for me :+1:  thanks

[2020-09-25 15:17] #9 closed

[2020-09-26 09:51] toedter commented on #13
Implemented in the current snapshot, will be in the next release.

[2020-09-26 09:51] #13 closed

[2020-09-26 09:53] toedter commented on #7
I close this for now and would suggest continuing further discussion either at https://gitter.im/spring-projects/spring-hateoas or at StackOverflow. Sparse fieldsets are still on the todo list.

[2020-09-26 09:53] #7 closed

[2020-09-27 04:45] metacubed commented on #6
@toedter one other suggestion is:

- For classes: `@JsonApiType` with a mandatory parameter
- For methods/fields: `@JsonApiTypeMarker` without a parameter

In the first case, you are actually providing/specifying the type information.
In the second case, you are only indicating (marking) where you can get the type information.

This is a breaking change, but hope that's ok because the version is n

[2020-09-27 06:42] toedter commented on #6
@metacubed, thanks for the suggestion, naming is a very difficult thing but I try not to introduce breaking changes right now.
That's why I kept the original `@JsonApiType` and introduced `@JsonApiTypeForClass`.

I agree that the current naming is not optimal, but I think that `@JsonApiTypeMarker` is also not optimal, since most annotations are markers. Maybe in a later version, when the API gets

[2020-09-27 06:54] metacubed commented on #6
No problem, it was just a suggestion. Thank you for the great library!

[2020-10-15 18:34] jimirocks opened #17 "Deserialization of polymorphic or generic type"
Seems, the current implementation is pretty limited, able to deserialize only specific type.

Consider following use case:
[code]

Even if (properly typed) instance of `B` is posted, only `A` properties are deserialized. While for example when using spring-hateos with HAL it uses standard jackson way to determine the specific type.

It would be nice to somehow enable the possibility to write gener

[2020-10-16 10:40] toedter commented on #17
Thanks for pointing this out.
Could you provide a test written in Java to illustrate the issue on a concrete example?

[2020-10-20 09:54] toedter commented on #17
I found an article about Jackson Polymorphic Deserialization: https://medium.com/@david.truong510/jackson-polymorphic-deserialization-91426e39b96a

Would that help in your case?

[2020-10-20 13:46] jimirocks commented on #17
@toedter Thanks for quick reaction, I will look into this further in the end of the week

[2020-10-20 16:03] toedter commented on #17
I think it workes very well, I have written tests for it and added a section in the documentation, see
https://toedter.github.io/spring-hateoas-jsonapi/snapshot/reference/#polymorphy

Please reopen if this is still an issue for you.

[2020-10-20 16:03] #17 closed

[2020-10-21 15:09] CalamarBicefalo opened #18 "JSON API Data rendered ignoring Jackson Config (e.g. date format...)"
When trying to serialize a payload containing java 8 date/time types, spring-hateoas-jsonapi renders those without using the appropriate jackson modules and configuration.

Even when registering a bean that is then picked by Spring HATEOAS, we found out, internally, spring-hateoas-jsonapi, instantiates a vanilla object mapper dismissing any configuration provided. This prevents spring-hateoas-json

[2020-10-22 06:13] toedter commented on #18
Thanks for pointing this out. I will try to recreate this behavior with a test and then think about a solution. I will write some tests for your use case and will investigate how to configure the object mapper used in https://github.com/toedter/spring-hateoas-jsonapi/blob/bb1e3217b177f76e0d8fd8643ea22a86549417b4/lib/src/main/java/com/toedter/spring/hateoas/jsonapi/JsonApiData.java#L129-L131

[2020-10-23 13:56] toedter commented on #18
Fixed it in the current snapshot, to modify the Jackson object mapper config, you could do something like

[code]

[2020-10-26 08:56] CalamarBicefalo commented on #18
Thank you very much @toedter for such a prompt turn around!

I tried that, but it seems maybe you forgot to make `super.configureObjectMapper(mapper, configuration)` public? At the moment it is package private and I cannot really call the super method... Perhaps your test is in the same package?

[2020-10-26 09:12] CalamarBicefalo commented on #18
I went with the method that is public instead, which also mutates the object mapper anyway.

Seems more reasonable as the JsonApiConfiguration is not used anyway.

[code]

[2020-10-26 14:22] toedter commented on #18
You are right, using super.configureObjectMapper(mapper) is better. The Spring HATEOAS team is thinking of providing a more generic solution, see https://github.com/spring-projects/spring-hateoas/issues/1382

[2020-10-26 18:07] toedter commented on #18
Now it is even easier, I implemented Greg's suggestion (in the current snapshot) and you can handle ObjectMapper configuration within your JsonApiConfiguration, like

[code]

[2020-10-28 07:44] #18 closed

[2020-11-11 14:30] jimirocks opened #19 "Since 0.10.0 not filled attributes or even relationships are rendered in attributes"
Having the object
[code]

And filling the builder like
[code]

Produces
[code]

In the 0.9.0 version, there were no `null`s and also no relations in attributes (since my code intentionally doesnot fill the relation properties it's basically about not including `null` into rendering)

Is this a BUG or is it expetced to somehow create model differently?

[2020-11-11 17:24] toedter commented on #19
Thanks for reporting this.
@JsonApiRelationships is only interpreted during deserialization, see https://toedter.github.io/spring-hateoas-jsonapi/0.10.0/reference/#Creating

But it looks like a bug, that `@JsonInclude(JsonInclude.Include.NON_NULL)` is ignored.
I'll look into this.

[2020-11-11 18:21] toedter commented on #19
Fixed in the current snapshot, the fix will be in the next release.

[2020-11-11 18:21] #19 closed

[2020-11-11 19:32] toedter commented on #19
released in v0.11.0

[2020-11-12 11:16] jimirocks commented on #19
nice, thank you

[2020-11-19 10:16] peter-plochan opened #20 "Consider to make JsonApiModel class public"
Now, the [JsonApiModel class](https://github.com/toedter/spring-hateoas-jsonapi/blob/c60a64f6b10e72091a83a530fe3bc48a666b157d/lib/src/main/java/com/toedter/spring/hateoas/jsonapi/JsonApiModel.java#L31) is `package-private`. Consider to make it `public` which e.g. (in our case) enables possibility to test outputs from specific [JsonApiModelBuilder](https://github.com/toedter/spring-hateoas-jsonapi/

[2020-11-19 10:54] toedter commented on #20
Thanks for pointing this out. We had discussions about that topic in the Spring HATEOAS community. The issue here is that users then expose specific representation model implementations that only make sense for specific media types.  For example, an endpoint could return `ResponseEntity<JsonApiModel>` which would break the media type independent approach of Spring HATEOAS when it comes to API.

If

[2020-11-20 09:04] peter-plochan commented on #20
Hi @toedter, thanks for quick response. Actually, the problem is that we use custom `RepresentationModelAssembler` for being able to serialize our specific entity model to different media types (along with JSON:API), so we are somehow building `JsonApiModel` within this assembler. We want to run **regular unit tests** against this assembler, so we don't want to pointlessly initialize the whole Spr

[2020-12-02 15:26] peter-plochan opened #21 "Support for "meta" members in the object identifier"
We have a use case when we need to enhance [JSON:API Resource Identifier](https://jsonapi.org/format/#document-resource-identifier-objects) by some optional "meta" information within the top level document as well as within individual relationships and includes. We could use the `meta` object for this which is allowed by the JSON:API specification on the identifier level:

The result would look li

[2020-12-03 08:27] toedter commented on #21
The `JsonApiModelBuilder` provides a method

[code]

where you can add meta to a relationship.
To add meta on the top-level document or in any data resource or included resource you could also use the `JsonApiModelBuilder` and then use

[code]

Does this solve your problem?

[2020-12-04 10:08] toedter commented on #21
I fixed this in the current snapshot, here is an example:

[code]

will be serialized to

[code]

This will be in the next release.

[2020-12-04 10:58] audax opened #22 "Customized ObjectMapper not used when deserializing"
In reference to  #18

Instead of using the ObjectMapper from the JsonApiConfiguration, `new ObjectMapper()` is called in [AbstractJsonApiModelDeserializer](https://github.com/toedter/spring-hateoas-jsonapi/blob/8eab6ac1101c8b70bec6328babf1288034985c45/lib/src/main/java/com/toedter/spring/hateoas/jsonapi/AbstractJsonApiModelDeserializer.java#L76).

This prevents me from specifying an abstract type

[2020-12-04 11:27] toedter commented on #22
Thanks for reporting this.
Could you please provide a concrete example?
Then it's easier for me to write a test.

[2020-12-04 14:22] audax commented on #22
Here is an integration test that uses a new IMovie interface with a single MovieImpl:
https://github.com/audax/spring-hateoas-jsonapi/commit/c58e3d113e78cd907094286f207298a96ac7a657

The configured ObjectMapper is not used AbstractJsonApiModelDeserializer which creates a blank `new ObjectMapper()` instead. I think the configured ObjectMapper is only used for serializing.

I hope the test helps and

[2020-12-04 14:41] peter-plochan commented on #21
Thank you for a quick fix, but the fix you introduced solves my problem partially. I need to have these `meta` objects in individual "related resource relationships" as well. Example:
[code]
and the representation model could be defined like this
[code]
I'm not sure if it makes sense to you, but I have a use case where the `meta` object holds important info for individual resources even in the rel

[2020-12-04 14:57] toedter commented on #21
Thx Peter, I'll take a look at it.

[2020-12-05 12:53] toedter commented on #21
Noe everything should work, see https://toedter.github.io/spring-hateoas-jsonapi/snapshot/reference/#Nesting

Please give your example another try.

[2020-12-07 09:30] toedter commented on #21
released in 0.12.0

[2020-12-07 09:30] #21 closed

[2020-12-07 09:33] toedter commented on #22
Thx @audax, I understand what you want to do now.
But it is more complicated than I thought because I can't use the very same ObjectMapper for both serialization and deserialization. I will discuss this in Gitter because I want to align here with a more generic solution that would work also with other media types.

[2020-12-08 06:52] audax commented on #22
Excellent! I do have a workaround for now, I use different models for requests vs responses, so that I can deserialize the request-objects with a default ObjectMapper.

[2020-12-08 08:48] peter-plochan commented on #21
Works, well, thanks a much 👍

[2021-01-15 17:31] peter-plochan opened #23 "Incorrect serialization of "to_many" relationships"
**Library version:** 0.13.0
:warning: The mentioned problem in this issue is related only to JSON:API serialization, the deserialization works well.

We have an entity which looks like this simplified class:
[code]
When the library serializes an instance of this class which has `relatedEntities` containing only one element, the serialized output looks like this:
[code]

This is not correct because

[2021-01-15 20:06] toedter commented on #23
Thanks for pointing this out.

Just a few clarifications:
* `@JsonApiRelationships()` is only used for deserialization as a hint where to put JSON:API relationships
* `@JsonApiRelationships()` has absolutely no effect on serialization
* The lib does not automatically produce relationships from DTOs

The correct way to produce the serialized JSON:API that contains relationships would be the usage o

[2021-01-15 20:44] toedter commented on #23
Hm, I could not recreate your serialization example.
In my tests, an ` EntityModel.of(someEntity)` would be serialized to:

[code]

which would be the expected behavior.
How did you create your example that serializes to JSON:API with relationships?

[2021-01-18 09:38] peter-plochan commented on #23
Hi @toedter, sorry for the confusion. I forgot to include that JsonApiModelBuilder, which had only `relationships` defined (even for "to_many" relationships). If the `relationshipWithDataArray` will solve my problem, this issue is not relevant 🙂 .  Could you, please, just mention somehow the `relationshipWithDataArray` in the [Reference Documentation](https://toedter.github.io/spring-hateoas-jsona

[2021-01-18 11:47] toedter commented on #23
No Problem, `relationshipWithDataArray ` is already in the documentation :)

[2021-01-18 11:47] #23 closed

[2021-02-03 14:17] jimirocks opened #24 "Deserialization of polymorphic relationships"
Could you please support having polymorphic relationships deserializable properly.

Example:
[code]

Should be possible to deserialize from:
[code]

Currently, it seems `@JsonSubtypes` is completely ignored for relationships.

[2021-02-03 16:05] toedter commented on #24
Thanks for reporting this. I'll take a look at it when I find the time...

[2021-02-07 08:36] toedter commented on #24
Implemented it in the current snapshot. During implementation, I found a hen/egg problem: During deserialization, the Jackson subtype resolution expects the exact property (in the JSON source) to be in the class to be deserialized. So, a restriction is that you have to use `type `instead of `_type`.

If the interface looks like:
[code]
 and a child like:
[code]
Then a JSON like:
[code]

is deseria

[2021-02-07 08:36] #24 closed

[2021-02-07 08:47] toedter commented on #22
Then I close it for now, please reopen when needed.

[2021-02-07 08:47] #22 closed

[2021-02-07 09:26] toedter commented on #20
I see your point, but I will stick with the Spring HATEOAS approach to only having the generic `RepresentationModel ` classes public. A workaround for your use case would be to create a TestWrapper class in a package `com.toedter.spring.hateoas.jsonapi`. There you could cast a `RepresentationModel ` to a `JsonApiModel `and get the data for your test.

[2021-02-07 09:26] #20 closed

[2021-02-08 07:33] jimirocks commented on #24
Thanks for quick implemntation - I will try to use  it ASAP to give you feedback. But in theory - why the name of the property matters?

[2021-02-08 09:23] jimirocks opened #25 "ClassCastException when deserializing relationship which is parametrized type"
When testing desrialization of polymorphic relationships I found this bug.

For instance having in relationship class like this:
[code]

[code]

The problem is this line:

https://github.com/toedter/spring-hateoas-jsonapi/blob/8d4a5351431e3e1ba13631792c00745e4c17262c/lib/src/main/java/com/toedter/spring/hateoas/jsonapi/JsonApiEntityModelDeserializer.java#L106

The solution probably is to first obt

[2021-02-08 11:53] toedter commented on #25
Thx a lot, will review asap and then merge. Related to your question of `type ` vs. `_type`. I decided to use Jackson itself to resolve everything related to Jackson annotations, rather than parsing and interpreting them myself. Since this happened before the JSON:API specific deserialization, Jackson expects that type is a real property. Maybe there is a better solution that works without this re

[2021-02-08 13:07] #25 closed

[2021-02-08 13:16] jimirocks commented on #25
Thanks for merging my fix, do you have any schedule for 0.15.0 release?

[2021-02-08 14:00] toedter commented on #25
I am working on some little improvements. But I could do a new release soon, maybe next weekend.

[2021-02-08 19:22] jimirocks opened #27 "ObjectMapper is created over and over in de/serializers"
ObjectMapper is considered heavyweight object. Jackson documentation recommends to reuse it as much as possible

[2021-02-08 21:45] toedter commented on #27
yes, I could cache one.

[2021-02-09 08:05] #27 closed

[2021-02-15 14:30] YannickS99 opened #28 "Using ArrayList in .included()"
I´m trying to use an ArrayList in the .included part but for some reason it´s not working.
Here is an example of what I´m trying to do:
`List<RepresantationModel<?>> includeList = new ArrayList<>();
RepresentationModel<?> jsonApiModel = jsonApiModel().model(model).included(CollectionModel.of(includeList).build();`
Is there a way to do it this way?
Using a new .included() for every single List entr

[2021-02-15 18:02] toedter commented on #28
Thx for bringing this up. I'll take a look at it.

[2021-02-16 08:09] YannickS99 commented on #28
All right that works for me. Thank you very much for your help.

[2021-02-16 08:09] #28 closed

[2021-02-16 09:37] jimirocks commented on #25
@toedter Do you already have schedule for 0.15.0? There are also other fixes which are becoming urgent to us. Thanks in advance

[2021-02-16 09:48] toedter commented on #25
Sorry, I did not feel well in the last few days. I will try to release it in the next few days. The snapshot is also available publicly, you just have to add https://oss.sonatype.org/content/repositories/snapshots/ as a repository to your Maven or Gradle configuration.

[2021-02-17 17:13] toedter commented on #28
I included a new method in the builder to support included collections. It's in the new release 0.15.0.

[2021-02-17 17:14] toedter commented on #25
Just released 0.15.0

[2021-03-04 11:31] jimirocks opened #29 "Support ObjectMapper configuration for attributes de/serialization"
Currently the ObjectMapper used to de/serialize objects' attributes is created internally and therefore not configurable. It prevents to use for instance different Jackson datatypes modules like `jackson-datatype-jsr310`.

This obstacle can be moreless workarounded using custom `@Json(De)Serialize`.

[2021-03-04 16:46] toedter commented on #29
For serialization it is supported.

Foe example, if you configure

[code]

an instance of a class like

[code]

would be serialized to:

[code]

Without the ObjectMapper configuration, `lastseen` would be serialized to

`"lastSeen":{"nano":0,"epochSecond":1603465191}`

For deserialization, other object mappers are used and this is not supported.
I will take a deeper look into deserialization.

[2021-03-05 11:59] jimirocks commented on #29
Yeah sorry I missed it works for serialization - my usecase is rather the **deserialization**. Could I somehow help with that?

[2021-03-15 07:18] jimirocks commented on #29
@toedter any news regarding deserialization config? Since this is serious obstacle forme, I am willing to help with implementation - just give some idea, how would you like to design it.

[2021-03-15 12:26] jrosenhaeger opened #30 "No CRUD-Action"
We want to use the library for an interface. Supports the library the following Example-Request
for a no-crud action on a resource?

POST /movies/1 HTTP/1.1
[code]

If so, how can we access the meta-information?
If not, is this functionality in planning for the library?

[2021-03-15 16:42] toedter commented on #30
Right now the deserialization of meta is not supported and not planned (yet). A workaround would be to accept the JSON string in the controller, parse the meta, and then deserialize the data part with the object mapper you could configure and cache using the `JsonApiConfiguration`. A more RESTful way of implementing actions would be to create a new REST resource like MyActionJob with a post, that

[2021-03-15 16:42] #30 closed

[2021-03-17 12:58] jimirocks commented on #29
@toedter it seems I found a solution - please review #31

[2021-03-18 07:02] toedter commented on #29
Thx a lot! I will review this next weekend.

[2021-03-20 12:54] toedter commented on #29
Thanks again, I took your idea but refactored my original source base with a few optimizations. I also included your tests and they are all green now. Please check if everything is working with the current snapshot. If everything is ok, I can trigger a new release tomorrow.

[2021-03-20 12:54] #29 closed

[2021-03-22 06:06] jimirocks commented on #29
Thanks for accepting - sorry I was out for weekend, but will test it today.

[2021-03-22 07:37] toedter commented on #29
I released it yesterday, could you please test with 0.16.0?

[2021-03-23 07:48] jimirocks commented on #29
0.16.0 is working fine for my usecase now - thanks

[2021-03-24 18:41] toedter opened #33 "Incorrect page size of generated "next" link for PagedModel"
Instead of the size, the value of page number + 1 is used.

[2021-03-24 19:06] #33 closed

[2021-07-06 11:36] jacek-rzrz opened #34 "JSON API format not used when returning ResponseEntity from a coroutine"
👋 Hello, and thank you for an excellent library.

I have a Spring reactive application using coroutines in controller methods. There is one use case when the `spring-hateoas-jsonapi` library doesn't kick in: when my `EntityModel` is wrapped in a `ResponseEntity`.

I have made [an example repository](https://github.com/jacek-rzrz/spring-coroutines-json-api-response-entity) with controller tests to

[2021-07-07 06:32] toedter commented on #34
Thx for reporting this. I'll take a look at it asap.

[2021-07-07 18:58] toedter commented on #34
I can reproduce the behavior. Currently, I have no clue, why the JSON:API serializer is not used. I will dive deeper into this and keep you posted.

[2021-07-08 10:23] jacek-rzrz commented on #34
Curious 🤔 Thanks a lot for looking into it!

[2021-07-08 13:11] Hridayv opened #35 "Request body with JSONAPI request returns null values when using EntityModel"
Hey, Thanks for this dependency, it made JSONAPI implementation really simple. I am facing this issue when trying to pass JSONAPI as a request body, the values are coming as null.

**I am using this version of dependency**
[code]
**This is the model**
[code]
**I have two Rest endpoints, one for converting POJO to JSONAPI format and another one for converting it back. The problem occurs when Trying

[2021-07-08 13:23] toedter commented on #35
I get mapping does normally ignore a request body, could you please try out with a POST mapping?

[2021-07-08 13:30] Hridayv commented on #35
Tested with POST mapping as well, but still the same issue.

[2021-07-08 14:08] toedter commented on #35
Did you add a request header "content-type" = "application/vnd.api+json"?

[2021-07-08 14:51] Hridayv commented on #35
adding that header I'm getting this error.

'''

java.lang.ClassCastException: class java.lang.Integer cannot be cast to class java.lang.String (java.lang.Integer and java.lang.String are in module java.base of loader 'bootstrap')
	at com.toedter.spring.hateoas.jsonapi.AbstractJsonApiModelDeserializer.convertToResource(AbstractJsonApiModelDeserializer.java:100) ~[spring-hateoas-jsonapi-0.17.0.jar:

[2021-07-08 15:19] Hridayv commented on #35
It worked, Thank you for helping me out. 😄

[2021-07-08 15:19] #35 closed

[2021-07-08 15:25] Hridayv commented on #35
Is there any way it works with application/json as well? in an enterprise application it would be hard for every consumer to change content-type.

[2021-07-08 16:24] toedter commented on #35
great that I could help. It works out of the box with application/json, but then you have to POST application/json formatted JSON, having the fields on top level. The content-type header tells Spring HATEOAS which Deserializer to use.

[2021-07-09 04:17] Hridayv commented on #35
So I tried doing that, is this the JSON to send?
[code]

[2021-07-09 06:04] toedter commented on #35
The default JSON deserializer would be used, the JSON would look like this:

{
       "type" : "SomeApplicationName",
       "attribute1" : "Attribute1",
       "attribute2" : "Attribute2",
       "attribute3" : "Attribute3"
}

[2021-07-09 06:32] toedter commented on #34
When you remove the suspend, it works. So somehow the Kotlin coroutine mechanism causes this behavior. Since I am not a Kotlin expert, I am stuck here. I posted this issue in the Spring HATEOAS Gitter group. If someone there can help to figure out what's happening, I will post it here.

[2021-07-09 07:10] Hridayv commented on #35
Can't we deserialize the JSON API response? as we might be passing the response of one application to another application as a request.

[2021-07-10 06:37] toedter commented on #34
I tested your demo replacing my JSON:API media type with the build-in UBER media type of Spring HATEOAS =>
The behavior is the same. My conclusion is that there is nothing I can do about that in my implementation.
Sorry about that...

Please file an issue directly in the Spring HATEOAS issue tracker: https://github.com/spring-projects/spring-hateoas/issues

[2021-07-10 06:37] #34 closed

[2021-07-21 16:53] njohannisson opened #36 "Problem with model.included(collection)"
Hi,

I attempted to use the jsonApiModel().model(u).included(c).build(); method. If c is some Collection<Entity>, I seem to end up with Entity of Entity includes in the final model. This is not working and not what the api docs said:
"The objects of the collection are automatically wrapped into an {@link EntityModel},
     * if they are not already {@link RepresentationModel}s."
Did I fail to see

[2021-07-22 06:14] toedter commented on #36
Thanks for reporting this. I am on vacation and will take a look at it next week. Could you please provide a failing test or an example?

[2021-07-26 19:23] toedter commented on #36
The following existing test shows the expected behavior:

https://github.com/toedter/spring-hateoas-jsonapi/blob/76353f47bed666310e1a0e72859caf30cde1a47c/lib/src/test/java/com/toedter/spring/hateoas/jsonapi/JsonApiModelBuilderIntegrationTest.java#L648-L671

So I am stuck here since I cannot reproduce the behavior you describe.

[2021-07-28 18:43] njohannisson commented on #36
Hi,
sorry for the delayed response. I wrote a little demo for my problem:

[code]
As i understood the javadocs for included(<collection>), i expected the "workaround" behaviour. The difference is, your Director is not for itself an Entity.of ...
Hope this makes it somewhat clearer...

[2021-07-28 19:54] #36 closed

[2021-07-28 19:58] toedter commented on #36
Thx, now I understood what you mean. I fixed it in the current snapshot (will be in the next release) and also wrote a test:

https://github.com/toedter/spring-hateoas-jsonapi/blob/bde51debb887d48fa566a7cd705e8e03be1ef7c8/lib/src/test/java/com/toedter/spring/hateoas/jsonapi/JsonApiModelBuilderIntegrationTest.java#L673-L696

[2021-07-29 06:19] njohannisson commented on #36
Perfect !
Thank you very much.
regards
Nico

[2021-08-20 15:00] toedter opened #37 "Collection models without links don't deserialse"
A correct JSON input that contains a data array but no links does not deserialize and throws an exception.

[2021-08-20 15:02] #37 closed

[2021-08-26 08:45] michaellu0013 opened #38 "How to convert RepresentationModel or EntityModel to JSON:API format String for using it in RestTemplate."
Thanks for the library, it works fine with serialization/deserialzation in controller.

But the scenario is i have to communicate with external application base on JSON:API Spec, my application like client side, i can not find a way to use your library for posting/reading data in JSON:API format to/from external application.

Example: i build a RepresentationModel<TestDto> by JsonApiModelBuilder b

[2021-08-26 14:38] #38 closed, assigned to nobody

[2021-09-06 02:45] conanchen opened #39 "pageLinks api throws exception"
1.  I just copied the example movies and set my application to use webflux
[code]

2. got exception on /api/movices on this line
[code]
3. but if i updated the line as below then no exception
[code]

# Log exception:
[code]

[2021-09-06 02:51] conanchen commented on #39
It would be nice to provide one more api with a Link parameter :
[code]

[2021-09-06 05:59] toedter commented on #39
Thanks for reporting this, I will take a look at it this week.

[2021-09-06 06:13] #39 closed

[2021-10-12 11:08] toedter opened #40 "When deserializing a PagedModel, PagedModel.PageMetadata is not deserialized"
Even if the JSON contains correct page meta data, PagedModel.PageMetadata is always null.

[2021-10-12 11:13] #40 closed, assigned to toedter

[2021-10-12 15:14] toedter opened #41 "PagedModel<EntityModel<?>> are not deserialized correctly"
The result was a PagedModel of DTOs, not a PagedModel of EntityModel<DTO>

[2021-10-12 15:15] #41 closed, assigned to toedter

[2021-10-12 16:14] toedter opened #42 "support native deserialization of UUIDs"
e.g.

[code]

[2021-10-12 16:15] #42 closed, assigned to nobody

[2021-10-15 11:33] bernhard-gatzhammer opened #43 "Example project uses wrong include query parameter name"
The project in /example uses query parameters "included" in the controllers, instead of the correct (according to JSON:API) "include".

[2021-10-19 10:31] toedter opened #44 "ids of type Long, long, Integer, and int are not deserialized correctly"

[2021-10-19 10:32] #44 closed

[2021-10-19 10:48] bernhard-gatzhammer opened #45 "Problems with setting IDs of related resources"
I'm getting an exception on entering a controller's method for resource creation:

[code]

The resource to be created has an ID of type long, properly annotated with @Id. The relationship is a one-to-many from Course to Lesson, which has a many-to-one to Courses.

[2021-11-13 10:09] toedter opened #48 "Preserve filtering when creating pagination links"
When using pagination with automatic link generation, the filter elements like fields[director] are not preserved in the pagination links. It would be great if this could also be automated.

[2021-11-24 11:32] toedter opened #49 "Provide @JsonApiMeta annotation"
This is useful if you want to serialize parts of your DTO's attributes as JSON:API meta. Could also be used to deserialize the JSON back to your Java object.

[2021-11-24 11:34] toedter opened #50 "Provide configuration to expose HATEOAS affordances as JSON:API meta"
There is no standard in JSON:API for affordances but it could be helpful for clients, even though it is proprietary.

[2021-11-25 12:11] toedter commented on #48
can be done easily using existing APIs, see the example project.

[2021-11-25 12:11] #48 closed

[2021-11-26 15:06] sadam21 opened #51 "What is the proper way to handle PATCH?"
What is the recommended way to handle PATCH request for entities with several attributes and relationships? What should DTOs look like?

I saw example https://github.com/toedter/spring-hateoas-jsonapi/blob/master/lib/src/test/java/com/toedter/spring/hateoas/jsonapi/support/WebMvcMovieController.java .

We have to differentiate usecases:
- setting attribute/relationship to another value
- setting t

[2021-11-26 16:19] toedter commented on #51
Thanks for asking, I will think about it.

[2021-12-05 10:21] toedter commented on #50
done

[2021-12-05 10:21] #50 closed

[2021-12-09 08:04] toedter commented on #51
sorry for not reacting in time, I am a little busy right now. I did not forget it and will try to respond before Christmas.

[2021-12-13 12:22] sadam21 commented on #51
OK, thank you!

[2021-12-18 10:08] toedter commented on #51
Hi Adam,

to get the information for the relationships, you can use the @JsonApiRelationships annotation, like

[code]

Then a person will be serialized to

[code]

If you want to patch a person, send a PATCH request like

[code]

If you want to distinguish between a value that should explicitly be set to null and a value that is not set at all in the patch body, one solution could be to use a spe

[2021-12-18 10:08] #51 closed

[2022-01-11 08:56] gaoyang-projects opened #52 "JsonApiModelBuilder return parameterized RepresentationModel<T>"
Spring HATEOAS and swagger.

use case:  put something like requestid, timestamp into meta .
`
@GetMapping("/")
public RepresentationModel<?> someRequest(){

JsonApiModelBuilder builder = JsonApiModelBuilder.jsonApiModel().model(model);
RepresentationModel<?> build = builder.meta("timestamp", System.currentTimeMillis()).fields("user", "id","name").build();
return build;

}
`
when retuen Representat

[2022-01-11 08:59] toedter commented on #52
What is the JSON output of this request?

[2022-01-11 10:47] gaoyang-projects commented on #52
JSON output structure is right on server.

just swagger cannot recognize problem.
swagger example response :
{
	"_links": {
		"empty": true
	}
}
if method return parameterized object swagger example reponse:
`@GetMapping("/")`
`
public User someRequest(){}
`
`
{
  id": "1",
  "enabled": false
}
`

because return type is '?', responsebody structure  cannot be found through reflection by swagger

[2022-01-11 10:53] toedter commented on #52
OK, I understand what you mean. Sorry, but you cannot use Swagger reflection here. And as you see in your example, the response is not valid JSON:API at all, but HAL representation.

[2022-01-12 01:43] gaoyang-projects commented on #52
so in my case, i want use JSON:API structure and expand meta object or other property .
if JsonApiModelBuilder return parameterized RepresentationModel like
`
User user = new User();
JsonApiModel<User> build  = JsonApiModelBuilder.jsonApiModel().model(user ).meta(...).build();
`
developer can see responsebody in swagger ui ,have any solutions?

[2022-01-21 01:02] gaoyang-projects opened #53 "JsonApiData#164 remove id and type field property if entity has a property named "type""
use case:
@JsonApiTypeForClass(value = "data")
DataEntity {
  private Long id;
  private String type; // int, long, bool
}

if entity has a property named "type"，JsonApiData remove it from "attributes", output result:
`
{
    "data": {
        "id": "123",
        "type": "data",
        "attributes": {
            // "type":"int" should be here
        }
    }
}
`
JsonApiData#164
`
Map<String, Ob

[2022-02-13 14:15] toedter commented on #53
Sorry for not reacting faster, I was on vacation. I'll take a look at it.

[2022-02-25 18:36] toedter commented on #53
fixed in the latest snapshot, will be in the next release.

[2022-02-25 18:36] #53 closed

[2022-03-08 16:10] toedter opened #54 "Improve deserialitazion of collection resources"
Even this is not required for deserialize JSON for PATCH and POST request, it would be nice if JSON:API compliant collection resoources could be deserialized into Spring HATEOAS collection models.

While a `CollectionModel<Entity>` deserializes well, the deserialization of  `CollectionModel<EntityModel<Entity>>` throws an exception: `java.lang.IllegalArgumentException: Given links must not be null

[2022-03-09 07:16] #54 closed

[2022-03-12 10:31] toedter commented on #49
implemented in release 1.3.0

[2022-03-12 10:31] #49 closed

[2022-03-15 14:46] NorbertHoene opened #55 "No support for spring-web HttpMessageConverter"
Hello,

It seems this library does not support spring-web RestTemplate.

The only thing what would be needed to support spring-web RestTemplate should be an implemenation of class HttpMessageConverter.java (https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/http/converter/HttpMessageConverter.html)

Would it be possible to add such a HttpMessageConverter

[2022-03-16 08:08] toedter commented on #55
Thx for reporting this. I'll take a look at it.

[2022-03-19 05:59] ros3cin opened #56 "Regular relationship is not being deserialized successfully"
Hi! I have two simple models.
[code]

The `Increase` model is not persisted, it only represents an action. The other model, on the other hand, is persisted.

What I'm trying to do it sending a POST with the `Increase` data, having it deserialized so I can access the id of the `Product` and proceed with further code. But I'm getting this error.

[code]

As far as I could investigate, for some weird

[2022-03-19 10:36] toedter commented on #56
Thanks for reporting this. I have tests for deserializations and they are all green, so I am trying to figure out what's different in your example.

Could you please provide the JSON you want to deserialize, or even better, a failing test?
What is your environment (Java Version, Spring Boot version, Spring HATEOAS version)?

[2022-03-19 13:19] ros3cin commented on #56
O.N T.H.E S.P.O.T, @toedter !

As I saw it was a class loader related to the dev-tools, I removed the dependency and tried again, and it worked!

I'm in a hurry now, but I'll give you the info you asked (tools versions and a failing test) ASAP. By the way, by failing test, you mean a zipped example where the problem happens?

Thanks!

[2022-03-19 23:43] ros3cin commented on #56
Java: 17
Spring Boot: 2.6.4
Spring HATEOAS: 1.4.1
HATEOAS JSON API: 1.3.0

[2022-03-20 09:34] toedter commented on #56
Thanks, I try to recreate that behavior using dev-tools. A zipped example project that demonstrates this behavior would also help :)

[2022-03-21 11:21] toedter opened #57 "Deserialization of CollectionModel<EntityModel<Entity>> does not deserialize JSON:API relationships"
If the content of the deserialized EntityModel contains a property annotated with @JsonApiRelationships,
the property is always null after deserialization.

[2022-03-21 11:23] #57 closed

[2022-03-22 16:54] toedter opened #58 "Add attributes of "included" relationships when deserializing entities with @JsonApiRelationships"
Right now, only the id field is set when deserializing JSON to Java DTOs that have wiels annotated with `@JonApiRelationships`. Fill other attributes if the corresponding rest ressorces are included in the JSON document with "included".

[2022-03-22 17:09] #58 closed

[2022-03-23 18:35] toedter commented on #55
I think I found a good solution to use RestTemplate with this library, see https://toedter.github.io/spring-hateoas-jsonapi/snapshot/reference/#resttemplate. You find integration tests using RestTemplate and this approach here: https://github.com/toedter/spring-hateoas-jsonapi/blob/e4bf761413814d070f0f3fd9b14e522b3830df18/lib/src/test/java/com/toedter/spring/hateoas/jsonapi/RestTemplateIntegration

[2022-03-23 18:35] #55 closed

[2022-03-26 17:43] toedter commented on #56
Since I cannot recreate this behaviour locally, I close this issue. Please re-open if necessary.

[2022-03-26 17:43] #56 closed

[2022-05-16 18:47] jschroeder1 opened #60 "Can't serialize JSON:API model with null ID"
Hi,

I'm attempting to use RestTemplate to Integration Test some endpoints I've set up. I've configured it as specified in the docs and it's mostly working fine but I'm trying to create a resource via a POST route that accepts`application/vnd.api+json` and I'm running into an issue.

Example:
[code]

[code]

The resource is new and doesn't haven an ID at this point so I would expect it to serializ

[2022-05-24 14:05] toedter commented on #60
You are right: When you want to serialize an `EntityModel` to JSON:API, an `id` MUST be present in all cases, except if you do a POST. But if I relax the check to allow serialization without `id`, your use case would work but in all the other use cases, an invalid JSON:API would be created. This is why the library checks if a valid `id` can be computed. Since serializing an object to be used for a

[2022-05-26 10:39] #60 closed

[2022-05-26 10:45] toedter commented on #60
You can now add configuration like
[code]
Then the above example will be serializes as
[code]

[2022-05-26 15:04] jschroeder1 commented on #60
@toedter Thank you! Looks like exactly what I need.

I tried it out and I'm able to build the jsonApiModel but when I attempt to POST with RestTemplate, I'm hitting a slightly different exception. Here's what I've got:

In my `@Configuration`

[code]

in the test class:
[code]

which now results in an `IllegalStateException` instead of an `HttpMessageNotWritableException`:
[code]

Does that look c

[2022-05-26 15:21] toedter commented on #60
This looks correct, since the id of your test model cannot be null. If you want the id to be ignored it must exactlxy match the value you specified in the configuration. So, If you initialize you testModel like
[code]
it should serialize without id.
Be aware that you can chose the value that is checked for yourself, e.g.
[code]
would also work.

[2022-05-28 09:59] toedter commented on #60
I just released version 1.5.0 including this.

[2022-05-30 09:16] jimirocks opened #61 "JsonApiModelBuilder is not compatible with ReactiveRepresentationModelAssembler"
As I commented on #59 (after close), I believe it should be possible to use `JsonApiModelBuilder` while implementing `ReactiveRepresentationModelAssembler` but it's not. See the code, which can't compile on the class declaration:

[code]

I see two possible solutions:
1. Making `JsonApiModel` public - as suggested in #59
2. changing the generics of `ReactiveRepresentationModelAssembler` to `<T, D

[2022-05-30 09:51] toedter commented on #61
The code does not compile because `D extends RepresentationModel<D>>` is required in the signature, not `RepresentationModel<?>`. But the only thing a `ReactiveRepresentationModelAssembler` implements, is one line of code in the method `toCollectionModel`. This original method does not make sense  when using `JsonApiModel`s because a `JsonApiModel `can reprersent a collection model itself.

If you

[2022-05-30 11:07] jimirocks commented on #61
Ahh ha so that was the missing piece of puzzle to understand. Thank you for explanation.

We will go with custom interface....

[2022-05-30 11:31] #61 closed

[2022-05-31 07:30] toedter commented on #61
Just fyi, I filed an issue at Spring HATEOAS:
https://github.com/spring-projects/spring-hateoas/issues/1796

[2022-07-15 20:51] atlas-tbrown opened #62 "Can't serialize model with null data"
According to the spec data is not required:
A “relationship object” MUST contain at least one of the following:

But if i try to do:

  return jsonApiModel()
          .model(pageEntityModel)
          .relationship("space", null, "Some link here", Links.NONE)
          .build();

I get:
 Cannot compute JSON:API resource id.::: null (through reference chain: com.toedter.spring.hateoas.jsonapi.Json

[2022-07-16 08:10] toedter commented on #62
Thanks for reporting this. I'll take a look at it asap.

[2022-07-16 11:09] #62 closed

[2022-07-16 11:16] toedter commented on #62
Fixed in the current snapshot. Please check if it works for you.

[2022-07-18 15:58] atlas-tbrown commented on #62
Thank you for fixing that so quickly!

[2022-07-29 18:45] atlas-tbrown opened #63 "Cannot set JSON:API field 'ID' on object of type"
Hi,
This might be an issue with what im trying to do, but wanted to get some advice.
We're trying the approach of possibly having different models for create, update, and get. For ex, if you use the same object for all of them, its hard to keep track of whats needed for say a create, whats valid to update, and whats always going to be returned, and so on.

So say we'd want a GET method that return

[2022-07-30 08:58] toedter commented on #63
I would not recomment to have different models, but just checking conditions in the respective controller methods instead.
And yes, all JSON:API resources need an id. A HTTP POST with a JSON:API complient structure, but not having the id, would be fine though, e.g.

https://github.com/toedter/spring-hateoas-jsonapi/blob/08556b0ccf55c3c7f3f07220b708960f15b32878/example/src/test/java/com/toedter/spr

[2022-07-30 08:58] #63 closed

[2022-08-27 09:03] toedter opened #64 "Fix order of serialized meta properties"
When properties are annotated with `@JsonApiMeta`, the json serialization order is random.
Keep the order that was defined in the source code.

This would also change the order of pagination meta to:

[code]

which is now the same order used by Spring HATEOAS.

[2022-08-27 09:05] #64 closed

[2022-11-03 08:01] toedter opened #65 "Make Spring HATEOS links serializion/deserialization JSON:API 1.1 compliant"
Spring HATEOAS provides a generic link concept. In JSON:API, for relationships between rest resources, the `relationsships `attribute is in most cases the proper solution. Furthermore, JSON:API provides a links attribute, both for the top-level document, as well as for resource links. The only allowed member of resource-level links is `self`. So, if a Spring HATEOAS representation model contains o

[2022-11-11 21:51] RabeeHanna opened #66 "Top level data and relationships key not in MVC Web test result"
Hi, I am trying to add a test to confirm the correct keys are returned from my controller, this test is similar to the ones found in this repo. My controller maps a GET to /api/events/<uuid> to a method with return type `ResponseEntity<RepresentationModel<?>>`, which is generated using the JsonApiModelBuilder.
[code]
The result shows that the data key is missing, but I can confirm that it is there

[2022-11-12 09:40] toedter commented on #66
Hello Hanna, thanks for reporting this.

It should work, as you would expect. From your description I would guess that somehow the JSON:API serializer is not used in your test at all. You find many working examples here: https://github.com/toedter/spring-hateoas-jsonapi-examples.
Take a look at the example-basic sub project, probably you figure out what the difference to your setup is.

 If it wou

[2022-11-14 01:19] RabeeHanna commented on #66
Thank you, turns out it was because I didn't have the @SpringBootTest annotation. I left it out and tried using just @WebMvcTest(Controller.class) instead to speed up my tests, but it seems there are requirements that WebMvcTest does not add completely. The slowness can't be avoided for these kind of integration tests I assume

[2022-11-14 01:19] #66 closed

[2022-11-25 17:24] toedter commented on #65
serialization and configuration done.

[2022-11-25 18:49] #65 closed

[2022-11-27 10:56] toedter opened #67 "Provide configuration for Json:API Object (version 1.1)"
In JSON:API 1.1, the JSON:API object allows more properties, see https://jsonapi.org/format/#document-jsonapi-object

An example would be

[code]

Provide configuration for the new properties.

[2022-11-27 12:39] #67 closed